* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 900px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background-color: transparent;
}
.navigation {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.header__list {
    vertical-align: middle;
    text-align: center;
}
.header__list-item {
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
}
.header__list-link {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: rgb( 98, 98, 98 );
    text-align: center;
}
.header__list-link:hover {
    color: rgb( 170, 225, 251 );
}
  
.block {
    display: inline-block;
    width: 420px;
    height: 610px;
    margin: 0 auto;
    background-color: transparent;    
}
.photo {
    margin-top: 30px;
    margin-bottom: 30px; 
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb( 180, 173, 158 );   
}
.block_left {
    margin-left: 0;
    margin-right: 55px;
}
.block_right {
    margin-right: 0px;
    margin-left: 1px;
}
.article {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: rgb( 98, 98, 98 );
    margin-top: 0;
    margin-bottom: 30px;    
}
.text {
    line-height: 24px;    
    margin-bottom: 135px; 
    color: rgb( 98, 98, 98 );
}
.block_right_last {
    width: 420px;
    height: 520px;
}
.button {
    display: block;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: rgb( 98, 98, 98 );
    text-align: center;
    margin: 0 auto;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 60px;
    margin-bottom: 70px;
}
 

  