$main-linear-gradient: ( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129, 0.9) 100%);
$header-content-color: rgb( 255, 255, 255 );
$header-hover-color: rgb( 252, 227, 138 );
$main-title-color: rgb( 51, 51, 51 );
$main-description-color: rgb( 153, 153, 153 );
$box-shadow-color: rgb(149, 225, 211 );
$icon-color:rgb( 243, 129, 129 );
$first-font: "Montserrat";
$second-font: "Kaushan Script";
$third-font: "Roboto";