html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
picture {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 75.625rem;
  margin: 0 auto;
}