/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* roboto-300italic - cyrillic_latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('../fonts/roboto-v20-cyrillic_latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-cyrillic_latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - cyrillic_latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - cyrillic_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kaushan-script-regular - latin-ext_latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kaushan-script-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kaushan-script-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kaushan-script-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kaushan-script-v8-latin-ext_latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
  }
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
picture {
    display: block;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 75.625rem;
    margin: 0 auto;
}
/* header */

header {
    width: 120rem;
    min-height: 70.875rem;
    margin: 0 auto;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129, 0.9) 100%), url(../image/background.png);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129, 0.9) 100%), url(../image/background.png);
    background-image: linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129, 0.9) 100%), url(../image/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    width: 75.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-top: 1.25rem;
    margin-bottom: 10.625rem;
}
.navigation__list {
    width: 38.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navigation__list-item:nth-child(-n+5) {
    font-size: 0.875rem;
    font-family: "Montserrat";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
}
.navigation__list-svg {
    width: 1.125rem;
    height: 1.125rem;
    fill: rgb( 255, 255, 255 );
}
.navigation__list-item {
    position: relative;
}
.navigation__list-item::after {
    display: block;
    content: "";
    width: 3.125rem;
    height: 0.1875rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    background-color: rgb( 252, 227, 138 );
    position: absolute; 
    margin-top: 0.75rem;
    visibility: hidden; 
    opacity: 0;  
}
.navigation__list-item:hover.navigation__list-item::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: color .4s linear;
    -o-transition: color .4s linear;
    transition: color .4s linear;
}
.navigation__list-item:hover {
    color: rgb( 252, 227, 138 );
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}
.navigation__list-item:hover svg {
    fill: rgb( 252, 227, 138 );
}  
h4 {
    display: block;
    font-size: 4.5rem;
    font-family: "Kaushan Script";
    color: rgb( 255, 255, 255 );
    text-align: center;
    width: 31.875rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}
h1 {
    display: block;
    font-size: 9.375rem;
    font-family: "Montserrat";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
    width: 50.3125rem;
    margin: 0 auto;
    margin-bottom: 7.8125rem;
}
button {
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: rgb( 255, 255, 255 );
    background-color: rgba( 0, 0, 0, 0 );
    width: 9.875rem;
    height: 2.375rem;
    font-size: 0.875rem;
    font-family: "Montserrat";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; 
    margin: 0 auto;
}
/* services */

h3 {
    font-size: 1.5rem;
    font-family: "Kaushan Script";
    color: rgb( 51, 51, 51 );
    text-align: center;
    margin-top: 2.8125rem; 
    margin-bottom: 1.25rem;
 }
 h2 {
     font-size: 1.875rem;
     font-family: "Montserrat", sans-serif;
     color: rgb( 51, 51, 51 );
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;
 }
 h2::after {
     display: block;
     content: "";
     width: 3.75rem;
     height: 0.1875rem;
     margin: 0 auto;
     background-color: rgb( 243, 129, 129 );
     margin-top: 2.5rem;
     margin-bottom: 2.5rem;
 }
 .services__list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     margin-top: 1.5625rem;
 }
 .services__list-item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 21.25rem;
     min-height: 10rem;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -ms-flex-line-pack: start;
         align-content: flex-start;
 }
 .services__list-item:nth-child(3n+1) {
     margin-left: 1.875rem;
 }
 .services__list-item:nth-child(-n+3) {
     margin-bottom: 0.625rem;
 }
 .services__list-item-img {
     height: 1.9375rem;
     margin-top: 1.875rem;
 }
 .services__list-text {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: start;
         -ms-flex-pack: start;
             justify-content: flex-start;
     width: 17.8125rem;
     
 }
 .services__name {
     font-size: 0.875rem;
     font-family: "Montserrat";
     color: rgb( 51, 51, 51 );
     text-transform: uppercase;
     text-align: start;
     margin-left: 1.875rem;
 }
 .services__description {
     margin-left: 1.875rem;
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 153, 153, 153 );
     line-height: 1.6;
     text-align: start;
 }
   
 /* team */
 .team {
     min-height: 57.1875rem;
 }
 
 .team-description {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 153, 153, 153 );
     line-height: 1.6;
     text-align: center;
     margin-left: 8.125rem;
     margin-right: 8.125rem;
     margin-bottom: 5.875rem;
 }
 .team__list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     position: relative;
 }
 .overlay {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     position: absolute;
     top: 0;
     left: 0;
     width: 23.75rem;
     height: 29.375rem;
     background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138, .9) 0%, rgba(243,129,129, .9) 100%);
     opacity: 0;
     visibility: hidden;
     -webkit-transition: all .2s linear;
     -o-transition: all .2s linear;
     transition: all .2s linear;
 }
 .social__list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     margin-top: 12.9375rem;
 }
 .social__list-item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 3.5rem;
     height: 3.5rem;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     background-color: rgb( 252, 227, 138 );
     margin-right: 0.125rem;
 }
 .icon {
     width: 1.625rem;
     height: 1.375rem;
     fill: rgb( 243, 129, 129 );
 }

 .social__list-item:hover {
     background-color: rgb( 243, 129, 129 );
     -webkit-box-shadow: 0.125rem 0px rgb( 243, 129, 129 );
             box-shadow: 0.125rem 0px rgb( 243, 129, 129 );
     -webkit-transition: all .2s linear;
     -o-transition: all .2s linear;
     transition: all .2s linear;
 }
 .social__list-item:hover svg {
    fill: white;
}
 h5 {
     font-size: 0.875rem;
     font-family: "Montserrat", sans-serif;
     color: rgb( 51, 51, 51 );
     text-transform: uppercase;
     text-align: center;
     margin-top: 1.75rem;
     margin-bottom: 0.75rem;  
 }
 .team__list-item {
     position: relative;
     width: 23.75rem;
     height: 40.1875rem;
 }
 .profession {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 153, 153, 153 );
     font-style: italic;
     line-height: 1.6;
     text-align: center;
     margin-bottom: 5.3125rem;
 }
 .team__list-item:hover .overlay {
     opacity: 1; 
     visibility: visible;
     -webkit-box-shadow: 0.625rem 0.625rem rgb(149, 225, 211 );
             box-shadow: 0.625rem 0.625rem rgb(149, 225, 211 );
     top: -0.625rem;
     left: -0.625rem;
     -webkit-transition: all .2s linear;
     -o-transition: all .2s linear;
     transition: all .2s linear;
 }
 
 /* footer */
 
 .footer {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     min-height: 4rem;
 }
 .footer__text {
     font-size: 0.875rem;
     font-family: "Montserrat", sans-serif;
     color: rgb( 51, 51, 51 );   
     padding-top: 1.5rem;
 }
 .footer__link {
     font-size: 0.875rem;
     font-family: "Montserrat", sans-serif;
     color: rgb( 253, 190, 190 );
 }
 .subscribe {
     background-color: rgb( 149, 225, 211 );
     border: none;
     width: 9.375rem;
     height: 2.5rem;
     font-size: 0.875rem;
     font-family: "Montserrat", sans-serif;
     text-transform: uppercase;
     text-align: center;
     color: rgb( 255, 255, 255 );
 }
 .form {
     padding-top: 0.625rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }
 .form__input {
     width: 14.375rem;
     height: 2.5rem;
     border-style: solid;
     border-width: 1px;
     border-color: rgb( 231, 231, 231 );
     background-color: rgb( 255, 255, 255 );
     padding-left: 0.75rem;
 }
 input::-webkit-input-placeholder {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 204, 204, 204 );
     font-style: italic;
     line-height: 1.6;
 }
 input::-moz-placeholder {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 204, 204, 204 );
     font-style: italic;
     line-height: 1.6;
 }
 input:-ms-input-placeholder {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 204, 204, 204 );
     font-style: italic;
     line-height: 1.6;
 }
 input::-ms-input-placeholder {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 204, 204, 204 );
     font-style: italic;
     line-height: 1.6;
 }
 input::placeholder {
     font-size: 0.9375rem;
     font-family: "Roboto";
     color: rgb( 204, 204, 204 );
     font-style: italic;
     line-height: 1.6;
 }
 .form__input:focus {
     outline: none;
 }
 .form__input:required:focus:valid {
     border-color: green;
 }
 .form__input:required:focus:invalid {
     border-color: red;
 }

 @media (-webkit-min-device-pixel-ratio: 2),
 (-o-min-device-pixel-ratio: 2/1),
 (min-resolution: 192dpi) {
     header {
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129, 0.9) 100%), url(../image/background@2x.png);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129, 0.9) 100%), url(../image/background@2x.png);
    background-image: linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129, 0.9) 100%), url(../image/background@2x.png);
     }
 }  